{% extends 'base.html' %}
{% block content %}

<h1>Attack Details</h1>

<div class="row">
  <div class="col s6 col-offset-3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ attack.name }}</span>
        <p>Description: {{ attack.description }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'attacks_update' attack.id %}">Edit</a>
        <a href="{% url 'attacks_delete' attack.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}